<div class="top">
  <div class="row">
    <div class="col-sm-12">
      <div class="content">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo_image">
              <img src="../../assets/img/logo.jpg" alt="Design Central">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="top_right text-right">
              <button class="btn btn-primary">Get Quotes</button>
              <button class="btn btn-primary">Book Consultant</button>
            </div>
          </div>
        </div>
        <div class="menu_bar">
            <nav class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
               <div class="collapse navbar-collapse" id="navbar-collapse-2">
                  <ul class="nav navbar-nav navbar-left">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/gft_home']">Get Free Quote</a></li>
                    <li><a [routerLink]="['/design_wardrobe']">Design Wardrobes</a></li>
                    <li><a [routerLink]="['/']">Wardrobe Models</a></li>
                    <li><a [routerLink]="['/']">Contact Us</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/']">Saved Designs</a></li>
                    <li><a [routerLink]="['/']"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
              </nav><!-- /.navbar -->
        </div>
      </div>
    </div>
  </div>
</div>